body{
    color: white;
    background-color: black;
    padding: 10px 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a::selection,h2::selection,h1::selection,p::selection,strong::selection{
    background-color: #8e4fd6;
    color: #fff;
}

h1{
    text-align: center;
}
hr{
    display: block; height: 1px;
    border: 0; border-top: 2px solid #8e4fd6;
    margin: 1em 0; padding: 0;
}

/* ---------- list ----------- */
.numberlist{
	width:450px;

}
.numberlist ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
}
.numberlist ol ol{
    margin: 0 0 0 2em;
}
			
.numberlist a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: 0.8em 0;
    background: #444;
    color: #FFF;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.numberlist a:hover{
    background: #2c2c2c;
    color: #8e4fd6;
    text-decoration: none;
}
.numberlist a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;	
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8e4fd6;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color:#FFF;
}

/* -------- footer -------- */

footer{
    background-color: #444;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    clear: both;
    position: relative;
}

footer img {
    height: 50px;
}

footer img:hover{
    filter: invert(100%);
}


/* -------------- responsive -------------- */

@media screen and (max-width: 517px) {
    .numberlist ol {
        padding-left: 10px;
    }
}