div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #6ed1ff;
    color: rgb(38, 38, 38);
    border: 1px solid rgb(121, 121, 121);
    border-radius: 0.5em;
    font-size: 1.5em;
    padding: 1em;
    cursor: default;
}