.button {
    border-radius: 4px;
    background-color: #78beff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 18px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 15px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
body {
    background: rgb(87, 164, 247);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.323);

}

